body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

code {
  --mono-font: "JetBrainsMono", monospace;
  line-height: 1.6;
}

.chapter > li > span > a {
  font-weight: bold;
}

.chapter a.current-header {
  font-weight: bold;
}

.hljs {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 12px/10px;
  -webkit-appearance: none;
  -webkit-corner-smoothing: 100%;
}

:not(pre) > .hljs {
    box-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, 0.2);
    border-radius: 6px/5px;
    -webkit-appearance: none;
    -webkit-corner-smoothing: 100%;
}
